body {
  z-index: -2;
  margin: 0;
  background-image: url('./assets/rye-jessen-GLOJ4NRWAyU-unsplash.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.background-container {
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.562);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}

.container {
  background-color: rgba(2, 2, 2, 0.568);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  width: auto;
  margin: 0 auto;
  color: white;
  padding: 75px;
  font-weight: bold;
}
.wrapper {
  margin-right: 50px;
}

/* Main Location Details */
.time {
  color: white;
  font-size: 4rem;
  padding: 15px;
}
.date {
  color: white;
  font-size: 2rem;
  padding: 15px;
}

.temp {
  font-size: 4rem;
  text-align: center;
}
.small {
  font-size: 1.5rem;
  text-align: center;
}
.location {
  text-align: center;
  font-size: 2rem;
}
.icon {
  height: 150px;
  width: 150px;
}
.conditions {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size: 1rem;
}
.weatherIcon {
  text-align: center;
}

/* More Information */
.infoContainer {
  display: flex;
}
.moreInfo, .sunInfo {
  padding: 15px;
}
#feelsLike {
  margin-bottom: 15px;
}
.feels {
  margin-bottom: 10px;
}
.feels span {
  font-size: 3rem;
}
.infoDisplay {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  width: 30%;
}
.info {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
  border-bottom: 1px solid rgba(235, 230, 230, 0.5);
  padding: 3px 0;
  margin-right: 5px;
}
.noBorder {
  border: none;
}
#humidityBar {
  height: 5px;
  width: 80%;
  border: 1px solid rgba(235, 230, 230, 0.5);
  margin-left: 10px;
}
#humidityPercent {
  background-color: aqua;
  height: 5px;
  width: 0%;
  transition-duration: 2s;
}

/* Search Options */
form {
  display: flex;
}
#search {
  width: 25%;
  margin: 50px auto 10px auto;
}
.card {
  background-color: white;
  width: 15%;
  margin: 0 auto 5px auto;
  text-align: center;
  padding: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.685);
}
.card:hover {
  cursor: pointer;
  scale: 1.05;
}

input[type='text'] {
  padding: 5px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.685);
  border: 0;
}
input[type='submit'] {
  border-radius: 100%;
  padding: 8px;
  border: 0;
  margin-left: 10px;
  font-weight: bold;
}
input:focus {
  outline: none;
}
#error {
  color: white;
  font-weight: bold
}